<p id="notice"><%= notice %></p>
<h1>Datos de la propuesta</h1>
<p>
  <strong>Nombre:</strong>
  <%= @propuestum.nombre %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @propuestum.titulo %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @propuestum.correo %>
</p>

<p>
  <strong>Organización:</strong>
  <%= @propuestum.organizacion %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= @propuestum.resumen %>
</p>


<%= link_to 'Editar datos', edit_user_propuesta_path(@propuestum) %> |
<%= link_to 'Volver', user_propuestas_path %>
