<p id="notice"><%= notice %></p>

<div class="container">
<h1>Datos de la propuesta</h1>
<div class="card">
  <div class="card-body">
        <div class="card-group">
        <div class="card">
          <div class="card-header">
            Datos
          </div>
          <div class="card-body">
    <p>
      <strong>Nombre:</strong>
      <%= @propuestum.nombre %>
    </p>

    <p>
      <strong>Titulo:</strong>
      <%= @propuestum.titulo %>
    </p>

    <p>
      <strong>Correo:</strong>
      <%= @propuestum.correo %>
    </p>

    <p>
      <strong>Organización:</strong>
      <%= @propuestum.organizacion %>
    </p>
</div>
</div>


    <div class="card">
      <div class="card-header">
        Resumen
      </div>
        <div class="card-body">
    <p>
      <%= @propuestum.resumen %>
    </p>
    </div>
  </div>
  </div>
  </div>

  <div class="card-footer text-muted">
    <%= link_to 'Aprobar', edit_admin_propuesta_path(@propuestum), class:"btn btn-default btn-primary" %>
    <%= link_to 'Volver', admin_propuestas_path, class:"btn btn-default btn-primary" %>

    </div>

</div>
</div>




<div class="container">
  <div class="card">
    <div class="card-body">
  <%= content_for :page_title, "Editar la propuesta" %>
  <%= react_component('AsignarRevisadorFormAdmin',propuestaId:@propuestum[:id]) %>
</div>
</div>
</div>
