<header>


<nav class="navbar navbar-expand-lg " style="background-color: #101522;">
  <%= link_to image_tag("image2vector.svg",width:"150", height:"30"), root_path, class: "navbar-brand",id:"boton-home" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="glyphicon glyphicon-menu-hamburger"></span>  </button>


  <div class="collapse navbar-collapse" id="navbarNavDropdown" >
    <ul class=" navbar-nav">
      <li class="menu-active" >
        <a id="boton-home" class="nav-link" href="/">Home</a></li>
      <% if admin_signed_in? %>
      <li class="nav-item"><%= link_to "Ver Asistencias", admin_asistencias_path,class:"nav-link"%></li>
      <li class="nav-item"><%= link_to "Ver Propuestas", admin_propuestas_path,class:"nav-link"%></li>
      <% end %>
      <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Ver mis Asistencias", user_asistencias_path,class:"nav-link"%></li>
      <li class="nav-item"><%= link_to "Ver mis Propuestas", user_propuestas_path,class:"nav-link"%></li>
      <% end %>
      <% if reviser_signed_in? %>
      <li class="nav-item"><%= link_to "Ver Propuestas", reviser_propuestas_path,class:"nav-link"%></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <ul class="">
          </ul>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if admin_signed_in? %>
          <li class="nav-item"><%= link_to "Salir", destroy_admin_session_path, method: :delete ,class:"nav-link"%></li>
          <% else %>
          <% if !user_signed_in? %>
          <li class="nav-item" ><%= link_to "Ingresar General Chair", new_admin_session_path ,class:"nav-link" %></li>
          <% end %>
        <% end %>
          <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Salir", destroy_user_session_path, method: :delete,class:"nav-link" %></li>
          <% else %>
          <% if !admin_signed_in? || !reviser_signed_in?  %>
          <li class="nav-item" ><%= link_to "Ingresar Usuario", new_user_session_path,class:"nav-link"  %></li>
          <% end %>
        <% end %>
        <% if reviser_signed_in? %>
        <li><%= link_to "Salir", destroy_reviser_session_path, method: :delete %></li>
        <% else %>
        <% if !admin_signed_in? %>
        <li><%= link_to "Ingresar Revisador", new_reviser_session_path  %></li>
        <% end %>
      <% end %>
      </ul>
      </div><!--/.nav-collapse -->

</nav>





</header>
