<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Chile Wic", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="menu-active" ><a id="boton-home" href="/">Home</a></li>
        <% if admin_signed_in? %>
        <li><%= link_to "Ver Asistencias", admin_asistencias_path%></li>
        <li><%= link_to "Ver Propuestas", admin_propuestas_path%></li>
        <% end %>
        <% if user_signed_in? %>
        <li><%= link_to "Ver mis Asistencias", user_asistencias_path%></li>
        <li><%= link_to "Ver mis Propuestas", user_propuestas_path%></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <ul class="">
            </ul>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
            <li><%= link_to "Salir", destroy_admin_session_path, method: :delete %></li>
            <% else %>
            <% if !user_signed_in? %>
            <li><%= link_to "Ingresar General Chair", new_admin_session_path  %></li>
            <% end %>
          <% end %>
            <% if user_signed_in? %>
            <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <% if !admin_signed_in? %>
            <li><%= link_to "Ingresar Usuario", new_user_session_path  %></li>
            <% end %>
          <% end %>
        </ul>
        </div><!--/.nav-collapse -->
</div>
</nav>

</header>
