<!DOCTYPE html>
<html>
  <head>
    <title>ReactRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'hello_react' %>
     <%= javascript_pack_tag 'RegistroFormUser' %>
     <%= javascript_pack_tag 'RegistroFormAdmin' %>
     <%= javascript_pack_tag 'PropuestaFormAdmin' %>
     <%= javascript_pack_tag 'PropuestaFormUser' %>
  </head>

  <body>
    <div>
  <% if signed_in? %>
    <%  if admin_signed_in? %>
      <%= link_to "Salir", destroy_admin_session_path, method: :delete %>
      <%= link_to "Ver asistencias", admin_asistencias_path %>
      <%= link_to "Ver propuestas", admin_propuestas_path %>
    <%end%>
    <% if user_signed_in? %>
      <%= link_to "Salir", destroy_user_session_path, method: :delete %>
      <%= link_to "Ver mis asistencias", user_asistencias_path %>
      <%= link_to "Ver mis propuestas", user_propuestas_path %>
    <%end%>

  <% else %>
    <%= link_to "Registrarse como admin", new_admin_registration_path %>
    <%= link_to "Ingresar como admin", new_admin_session_path %>
    <%= link_to "Registrarse como usuario", new_user_registration_path %>
    <%= link_to "Ingresar como usuario", new_user_session_path %>
  <% end %>
</div>
    <%= yield %>
  </body>
</html>
