<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ReactRails</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'hello_react' %>
     <%= javascript_pack_tag 'RegistroFormUser' %>
     <%= javascript_pack_tag 'RegistroFormAdmin' %>
     <%= javascript_pack_tag 'PropuestaFormAdmin' %>
     <%= javascript_pack_tag 'PropuestaFormUser' %>


     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
  </head>



  <body>
    <%= render "layouts/header" %>


      <%= render "layouts/footer" %>
      <%= react_component 'Home' %>











    <%= yield %>

  </body>

  







</html>
